.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.main-body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  width: 200px;
  margin-right: 30px;
}
button {
  width: 100px;
  height: 38px;
  background: #3E92CC;
  border: solid 1px #3E92CC;
  border-radius: 4px;
  color: white;
  font-size: 12pt;
  outline: none;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin-left: 10px;
}
button:hover {
  background: #61A5D5;
  border: solid 1px #61A5D5;
}
button:active {
  border: solid 1px white;
}
button:disabled {
  background: lightgray;
  border: solid 1px lightgray;
}
.show-error {
  display: initial;
}
.hide-error {
  display: none;
}
.main-content {
  width: 100%;
  display: flex;
}
.list-of-people {
  width: 50%;
  padding-left: 20px;
}
.list-h3 {
  border-bottom: solid 1px lightgray;
}
.list-h3 span {
  color: #3E92CC;
}
.search-result-header {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F4F3F3;
  height: 40px;
}
.search-result-item {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px lightgray;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.search-result-item:hover {
  box-shadow: 2px 2px 5px #00000030
}
.name {
  width: 60%;
  margin-left: 10px;
}
.party {
  width: 40%;
}
.details {
  width: 50%;
  padding-left: 40px;
}
.details h3 {
  border-bottom: solid 1px lightgray;
}
.details p {
  margin: 0;
  width: 560px;
  height: 40px;
  background: #F4F3F3;
  margin-bottom: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
